//pivotino-color
$pivotino-primary: #274D5F;
$pivotino-secondary: #F08013;
$o-community-primary-color-dark: #b75200;

$o-enterprise-color: $pivotino-primary;
$o-enterprise-primary-color: $pivotino-secondary;

$o-brand-odoo: $pivotino-primary;
$o-brand-primary: $pivotino-secondary;